@import "cyborg/variables";
@import "bootstrap/scss/bootstrap";
@import "cyborg/bootswatch";

$link-color: #ffffff;

//Responsive Font Size
h1 {
  @include font-size(1.3rem);
  }
h2 {
  @include font-size(1.1rem);
}


td.mediaDifference {
  white-space: nowrap;
  word-break: break-all;
}

a {
  display:inline;
}


@import "cyborg/variables";
@import "bootstrap/scss/bootstrap";
@import "cyborg/bootswatch";